<p>champ works!</p>
<table class="table table-bordered">
    <thead>
      <tr>
        <th>name</th>
        <th>dame</th>
        <th>defend</th>
        <th>speed</th>
        <th>price</th>
        <th>avatar</th>
      </tr>
    </thead>
    <tbody> 
      <tr *ngFor="let dssv of champs">
        <td>{{dssv.name}}</td>
        <td>{{dssv.dame}}</td>
        <td>{{dssv.defend}}</td>
        <td>{{dssv.speed}}</td>
        <td>{{dssv.price}}</td>
        <td><img src={{dssv.avatar}} alt=""></td>
       
      </tr>
    </tbody>
  </table>
