<div class="container">
  <header>
    <div class="bg-light">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin">Admin</a>
        </li>
      </ul>
    </div>
    <div class="">
      <img src="https://picsum.photos/1520/400" alt="" />
    </div>
  </header>
  <router-outlet></router-outlet>

 
  <footer>footer</footer>
</div>
