<div class="container">
  <header>
    <div class="bg-light mt-4">
      <ul class="nav justify-content-center">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" routerLink="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/products">Product</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/about">about</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" routerLink="/admin">Admin</a>
        </li>
      </ul>
    </div>
    <div class="">
      <img src="https://picsum.photos/1297/400" alt="" />
    </div>
  </header>
  <div class="content-main">
    <div class="d-flex justify-content-evenly mt-4">
      <div class="card" style="width: 18rem">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
      <div class="card" style="width: 18rem">
        <img src="..." class="card-img-top" alt="..." />
        <div class="card-body">
          <h5 class="card-title">Card title</h5>
          <p class="card-text">
            Some quick example text to build on the card title and make up the
            bulk of the card's content.
          </p>
          <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
      </div>
     
    
     
    </div>
  </div>

  <div>
    <router-outlet></router-outlet>
  </div>
  <footer>footer</footer>
</div>
