
 <router-outlet></router-outlet>
<!-- <div class="container" role="main"> 
 
<app-user></app-user>
 
  
  <div>
    <p>Angular form</p>
   
  </div>
  <div>
    <p>sụ kiện</p>
    <button class="btn btn-primary" (click)="onClickBtn()">
      {{ showStatus ? "Ẩn" : "Hiện" }} bảng dữ liệu
    </button>
  </div>
  <div>
    <label for="">Sự kiện cho input </label>
   
  </div>
  <div>
    <p>champs</p>
    <div>
      <label for="">name</label>
      <input type="text" (input)="onInput($event, 'name')" [value]="inputValue.name" />
    </div>
    <div>
      <label for="">image</label>
      <input type="text" (input)="onInput($event, 'avatar')" />
    </div>
    <div>
      <label for="">dame</label>
      <input type="text" (input)="onInput($event, 'dame')" />
    </div>
    <div>
      <label for="">speed</label>
      <input type="text" (input)="onInput($event, 'speed')" />
    </div>
    <div>
      <label for="">price</label>
      <input type="text" (input)="onInput($event, 'price')" />
    </div>

    <div>
      <label for="">defend</label>
      <input type="text" (input)="onInput($event, 'defend')" />
    </div>

    <button class="btn btn-success" (click)="onsubmit()">submit</button>
  </div>

  Tên sv : <app-name [name]="studentName"></app-name> mã sv :
  <app-identity [mssv]="mssv"></app-identity>
  <app-champ [champions]="champs"></app-champ>
  <app-table [champions]="champs" *ngIf="showStatus"></app-table>


  <input type="hidden" #selection />

</div>
 -->

