<div>
    <a routerLink="/admin/products/create"><button class="btn btn-primary">Create Product</button></a>
</div>
<table class="table">
<thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Action</th>
    </tr>
</thead>
<tbody>
    <tr *ngFor="let product of products">
        <td>{{product._id}}</td>
        <td>{{product.name}}</td>
        <td>
            <a routerLink="/admin/products/{{product._id}}">
                <button class="btn btn-info">Detail</button>
            </a>
            <button class="btn btn-danger" (click)="onDelete(product._id)">delete</button>
            <!-- <a [routerLink]="['/admin','product',product.id]"><button>Detail</button></a> -->
        </td>
    </tr>
</tbody>
</table>
