<div>
  <a routerLink="/admin/products"
    ><button class="btn btn-primary">Back</button></a
  >
</div>
<form action="" [formGroup]="productForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label for="" class="">Product Name</label>
    <input type="text" class="form-control" formControlName="name" />
    <app-show-validate
      [field]="productForm.get('name')"
      key="Tên sản phẩm"
    ></app-show-validate>
  </div>
  <div>
    <button class="btn btn-info" [disabled]="!productForm.valid">Submit</button>
  </div>
</form>
